body {
  background-color: #e4e4e4;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #f5f5f5;
  display: flex;
  height: 10vh;
}
nav .navLeft {
  display: flex;
  flex: 50%;
  padding-left: 80px;
  align-items: center;
  font-size: 16px;
}

nav .navLeft li {
  display: inline;
  margin-left: 20px;
}
nav .navLeft a {
  color: black;
  text-decoration: none;
}
nav li:hover {
  font-weight: bold;
}
nav .navRight {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
nav .navRight a {
  color: #f1f1f1;
  font-weight: lighter;
  background-color: #00021f;
  text-decoration: none;
  padding: 7px 17px;
  border-radius: 10px;
}

main {
  display: flex;
  width: 80%;
  background-color: white;
  margin: 120px auto;
  border-radius: 8px;
  padding: 70px;
  box-shadow: -1px 1px 8px grey;
}
section {
  display: flex;
}
.navRight a:hover {
  background-color: #066163;
}
.left {
  max-width: 60%;
}
.left p {
  margin-bottom: 40px;
}
section a {
  color: white;
  background-color: #00021f;
  border-radius: 20px;
  text-decoration: none;
  padding: 6px 13px;
  margin-right: 25px;
}
.left .bi-download {
  font-size: 20px;
}
.left a:hover {
  background-color: #066163;
}

.socialMedia {
  font-size: 40px;
  margin-top: 40px;
}
.right {
  display: flex;
  flex: 40%;
}
.right div {
  background-color: #fafafa;
  border-radius: 10px;
  margin: 40px auto;
  width: 60%;
  text-align: center;
  box-shadow: 1px 1px 5px grey;
}
.right img {
  width: 100%;
  margin-bottom: -20px;
  border-radius: 10px 10px 0 0;
}
.right p {
  margin-top: -20px;
}
